 /* Forgot Password */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'poppins', sans-serif;
     html {
     font-size: 16px; /* Base font size for the root */
     font-family: Poppins, sans-serif;
     }
 }
 
 body {
    margin-top: 110px;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #ffffff url('../../assets/img/bg-lucban.png') no-repeat center center;
    background-color: #d3dce9;   
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}
.box{
    height: 450px;
    width: 600px;
    margin: 50px auto;
    text-align: center;
   
}
.box form{
     background: linear-gradient(45deg, #0364ae, rgb(84, 95, 255));
    text-align: center;
    border-radius:5px;
    padding: 2rem;
    padding-bottom: 3rem;
}
.form-title{
    color: #f8f8f8;
    font-size: 40px;
}
.form-description{
    font-size: 17px;
    padding: 0px 8px;
    color: aliceblue;
}
input{
    padding: 10px;
    width: 460px;
    margin-top: 30px;
    text-align: center;
    font-size: 18px;
    border:2px solid #ff6e2a;
    border-radius:10px;
    background-color:rg#0efb(18, 18, 18);
}
button{
    padding: 10px;
    width: 250px;
    margin-top: 25px;
    background-color: #FF9843;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
}
@media screen and (max-width:630px) {
    .box{
        width:98%;
    }  
    input{
        width:70%;
    }    
}
.credit a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
}
.credit{
    color: #fff;
    text-align: center;
    margin-top: 10px;
    font-family: Verdana,Geneva,Tahoma,sans-serif;
}
.credit span{
    color:tomato;
    font-size:20px;
}


 .forgot {
    font-size: 14.5px;
    color: #fff;
    text-align: center;
    margin: 20px 0 10px;

}


.forgot p a {
    color: rgb(244, 120, 72);
    text-decoration: none;
    font-weight: 600;
}
