
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@100&family=K2D:wght@100&family=Teko:wght@300&display=swap');

body {
    background: #3468C0 url('../../assets/img/bg-lucban.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed; /* Prevent the background from resizing */
    margin-top:30px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030; /* Bootstrap's default z-index for fixed navbar */
    font-family: Poppins;
  }

.logo-pic {
    position: absolute;
    max-height: 66px;
    left: 40px;
    top: 5%;
}

.nav-item {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-primary {
    background-color: #2780c2;
    border-color: #2780c2;
    font-family: Poppins;
    font-weight: 500;
    height: 36px;
}

.btn-primary:hover {
    background-color: #1366d6;
}

.btn-primary:active {
    box-shadow: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    transform: translateY(2px);
    transition-duration: .35s;
}

.btn-primary:active:after {
    opacity: 1;
}

.btn-warning {
    cursor: pointer;
    margin-left: 8px;
    background-color: #FF9843;
    border-color: #FF9843;
    border: 1px;
    color: white;
    font-family: Poppins;
    font-weight: 500;
    border-radius: 5px;
    margin: 0px;
}

.btn-warning:hover {
    background-color: #f3a362;
    border-color: #f3a362;
    color: white;
}

.btn-warning:active {
    background-color: #cb610a;
    border-color: #cb610a;
    color: aliceblue;
    transform: translateY(2px);
    transition-duration: .35s;
}

.FAQ .content {
    background-color: #ffff;
    padding: 3rem;
    border-radius: 15px;
}

.Form {
    padding: 5rem;
}

.complaint-form {
    margin-top:100px;
    background-color: #ffff;
    padding: 2rem;
    border-radius: 15px;
    font-family: Poppins;
}

.complaint-form .Note {
    background-color: #FFEBCC;
    color: #955500;
}

.is-invalid {
    border-color: red;
}

.invalid-feedback {
    display: none;
    color: red;
}

.is-invalid+.invalid-feedback {
    display: block;
}


.imagePreview {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.imagePreview img {
    max-width: 100px;
    max-height: 100px;
}

.imagePreview .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}